@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import "tailwindcss";

@theme {
  --color-background: #f8f9ff;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
  --color-inverse-on-surface: #eaf1ff;
  --color-inverse-primary: #4ae176;
  --color-inverse-surface: #213145;
  --color-on-background: #0b1c30;
  --color-on-error: #ffffff;
  --color-on-error-container: #93000a;
  --color-on-primary: #ffffff;
  --color-on-primary-container: #004b1e;
  --color-on-primary-fixed: #002109;
  --color-on-primary-fixed-variant: #005321;
  --color-on-secondary: #ffffff;
  --color-on-secondary-container: #626567;
  --color-on-secondary-fixed: #191c1e;
  --color-on-secondary-fixed-variant: #444749;
  --color-on-surface: #0b1c30;
  --color-on-surface-variant: #3d4a3d;
  --color-on-tertiary: #ffffff;
  --color-on-tertiary-container: #860011;
  --color-on-tertiary-fixed: #410004;
  --color-on-tertiary-fixed-variant: #930013;
  --color-outline: #6d7b6c;
  --color-outline-variant: #bccbb9;
  --color-primary: #006e2f;
  --color-primary-container: #22c55e;
  --color-primary-fixed: #6bff8f;
  --color-primary-fixed-dim: #4ae176;
  --color-secondary: #5c5f61;
  --color-secondary-container: #e0e3e5;
  --color-secondary-fixed: #e0e3e5;
  --color-secondary-fixed-dim: #c4c7c9;
  --color-surface: #f8f9ff;
  --color-surface-bright: #f8f9ff;
  --color-surface-container: #e5eeff;
  --color-surface-container-high: #dce9ff;
  --color-surface-container-highest: #d3e4fe;
  --color-surface-container-low: #eff4ff;
  --color-surface-container-lowest: #ffffff;
  --color-surface-dim: #cbdbf5;
  --color-surface-tint: #006e2f;
  --color-surface-variant: #d3e4fe;
  --color-tertiary: #b91a24;
  --color-tertiary-container: #ff8a83;
  --color-tertiary-fixed: #ffdad7;
  --color-tertiary-fixed-dim: #ffb3ad;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

/* Base styles and imports */


body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-on-background);
}
